@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*----------------
general
-----------------*/
body, html {
  background: hsl(240, 73%, 65%);
  background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%) no-repeat center center fixed;
  color: hsl(238, 29%, 16%);
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.wrap .innerWrap {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 94vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrap .innerWrap {
    width: 100%;
    margin: 87px auto;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .spOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
}
/*----------------
common
-----------------*/
.faq {
  position: relative;
  max-width: 925px;
  height: 509px;
  display: flex;
  border-radius: 24px;
  justify-content: flex-end;
  background: url('../images/bg-pattern-desktop.svg') bottom -10rem left -36rem no-repeat;
  background-color: #ffffff;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: #ffffff;
}
.attribution a { 
  color: #ffffff;; 
}
@media screen and (max-width: 768px) {
  .title {
    margin: 18px 0 0;
    font-size: 24px;
  }
  .text01 {
    font-size: 14px;
  }
}
/*----------------
faq image
-----------------*/
.imgWrap {
  overflow-x: hidden;
}
.imgWrap img {
  display: block;
  margin-top: 66.7px;
  margin-left: -52.5px;
}
.image::after {
  content: "";
  background: url('../images/illustration-box-desktop.svg') no-repeat;
  width: 140px;
  height: 190px;
  position: absolute;
  top: 66%;
  left: -1.6%;
  transform: translate(-55%, -55%);
}
/*----------------
faq accordion
-----------------*/
.accordion {

}
.title {
  font-weight: 700;
  font-size: 32px;
}