@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*----------------
general
-----------------*/
body, html {
  background: hsl(240, 73%, 65%);
  background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%) no-repeat center center fixed;
  color: hsl(238, 29%, 16%);
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.wrap .innerWrap {
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 94vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrap .innerWrap {
    width: 100%;
    min-height: 100vh;
    margin: 59px auto 0;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .spOnly {
    display: block;
  }
  .pcOnly {
    display: none;
  }
}
/*----------------
common
-----------------*/
.faq {
  height: 510px;
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 30px 80px -30px #000;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: #ffffff;
}
.attribution a { 
  color: #ffffff;; 
}
@media screen and (max-width: 768px) {
  .faq {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    padding: 80px 23px 41px;
    justify-content: normal;
  }
  .faq::before {
    content: "";
    background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
    width: 238px;
    height: 180px;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 1;
  }
  .faq::after {
    content: "";
    background: url(../images/bg-pattern-mobile.svg) no-repeat;
    width: 240px;
    height: 180px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-51%, -40%);
  }
}
/*----------------
left content / img
-----------------*/
.leftContent {
  background: url(../images/bg-pattern-desktop.svg) no-repeat;
  background-position: 116% 66%;
  background-size: 180%;
  overflow: hidden;
  width: 50%;
}
.imageBox {
  position: absolute;
  left: -10%;
  top: 40%;
  z-index: 100;
  width: 20.78%;
}
.imgWrap img {
  display: block;
  margin-top: 73.7px;
  margin-left: -84.5px;
}
/*----------------
faq accordion
-----------------*/
.accordion {
  width: 50%;
  display: flex;
  margin: 64px 3px 30px 32px;
}
.accordionWrap {
  width: 350px;
}
.title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}
.accordionItem {
  padding: 10px 0;
  border-bottom: solid #e7e7e9 0.1rem;
}
.accordionQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordionTitle {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  cursor: pointer;
}
.accordionTitle:hover {
  color: hsl(14, 88%, 65%);
}
.accordionQuestion + .accordionPanel {
  display: none;
}
.accordionQuestion.is-open p {
  font-weight: bold!important;
}
.accordionQuestion.is-open .arrow {
  transition: 0.5s;
  transform: rotate(180deg);
}
.accordionQuestion.is-open + .accordionPanel  {
  transition: max-height 0.2s ease-out;
	display: block;
}
.arrow {
  display: block;
  transform-origin: center;
  transition: 0.5s;
  padding: 0 1.5rem;
}
.accordionPanel p {
  position: relative;
  /* padding-left: 20px;*/
}
@media screen and (max-width: 768px) {
  .accordion {
    width: 100%;
    margin: 50px 0 0;
  }
  .accordionWrap {
    width: 100%;
  }
  .accordionTitle {
    font-size: 12px;
  }
  .title {
    margin: -1px 0 0;
    text-align: center;
  }
  .text01 {
    font-size: 14px;
  }
  .arrow,
  .accordionQuestion.is-open .arrow {
    padding: 0;
  }
}